# =============================================================================
# Environment variables for running dpl-web on your local machine
#
# If you have access to our secrets in 1Password, you can run
# task dev:envfiles to populate the .env file here.
#
# If not, you can copy the template with the command `cp .env.1pass .env`
# and then adjust the resulting .env file with the various access tokens needed
# to run the application.
# =============================================================================
