.campaign {
  @include show-svg-on-hover;
  @include teaser-hover-shadow;

  background-color: $color__global-secondary;
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  padding-right: $s-lg;

  overflow: hidden;

  @include media-query__small {
    min-height: 150px;
  }
}

.campaign__image {
  position: relative;
  width: 100%;
  max-width: 256px;
  min-height: 80px;

  @include media-query__small {
    min-height: 150px;
  }

  > img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.campaign__title {
  @include typography($typo__h4);

  width: 100%;
  margin: $s-lg;
  align-self: center;

  &:hover {
    text-decoration: underline;
  }
}
