//Overrides
.swiper {
  max-width: 1727px;
  @include media-query__medium("min-width") {
    height: 353px;
  }

  .card--has-media {
    .card__media {
      border: none !important;
    }
  }
}
//
.swiper--centered .swiper-wrapper {
  width: fit-content !important;
  margin: 0 !important;
  align-items: stretch;
}

.slider__header {
  @include layout-container;

  display: flex;
  margin-bottom: $s-lg;

  display: none;
}

.slider__title {
  @include typography($typo__h2);
  @include u-extending-underline-style;
}

.slider__controls {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  align-content: end;

  @include media-query__small {
    display: flex;
  }
}

.slider__control {
  width: 115px;
  max-width: 100%;
  margin-left: auto;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &[disabled] {
    opacity: 0;
  }
}

.slider__item {
  $_card-mobile-peek: 50px;

  @include media-query__small("min-width") {
    width: fit-content !important;
  }

  width: fit-content;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
  display: flex !important;
  height: auto !important;

  .card {
    // We dont want the max-width to be 100%, as we want peek-effect on mobile.
    max-width: calc(100vw - #{$_card-mobile-peek});
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .card__text {
      flex: 1;
    }
  }
}

.swiper-slide > * {
  flex: 1;
}

.swiper-slide > article {
  flex: 1;
}

@media (min-width: 1200px) {
  .slider__item {
    padding-left: 41px;
    padding-right: 41px;
  }
}

.swiper:not(.swiper--centered) .slider__item {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
