# YOUR DPL-CMS NEEDS TO BE RUNNING LOCALLY

# DPL-CMS
# Used for image placeholder functionality
DPL_CMS_BASE_URL=http://dpl-cms.docker

# BASIC AUTH HEADER - YOUR LOCAL CONSUMER KEY AND SECRET FOR DPL-CMS
NEXT_PUBLIC_GRAPHQL_BASIC_TOKEN_DPL_CMS="Z29fZ3JhcGhxbDpvQThtcVpGeG1GdWJSRUg3N1QzcWVBcGVvVXhvTlM3WQ=="
NEXT_PUBLIC_GO_GRAPHQL_CONSUMER_USER_NAME=go_graphql
NEXT_PUBLIC_GO_GRAPHQL_CONSUMER_USER_PASSWORD=oA8mqZFxmFubREH77T3qeApeoUxoNS7Y

# Only needed for FBI API codegen
CODEGEN_GRAPHQL_SCHEMA_ENDPOINT_FBI=https://fbi-api.dbc.dk/ereolgo/graphql
CODEGEN_LIBRARY_TOKEN=XXX

# UNILOGIN
UNILOGIN_CLIENT_ID=https://ereolengo.dk/
UNILOGIN_CLIENT_SECRET=XXX
UNILOGIN_WELLKNOWN_URL=https://broker.unilogin.dk/auth/realms/broker/.well-known/openid-configuration

# GO SESSION
GO_SESSION_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

DPL_GO_BASE_URL=https://dpl-cms.local:3000

# PUBHUB
UNLILOGIN_PUBHUB_CLIENT_ID=XXX
UNLILOGIN_PUBHUB_RETAILER_ID=XXX
UNLILOGIN_PUBHUB_RETAILER_KEY_CODE=XXX
UNILOGIN_WS_PRIVATE_KEY=
UNILOGIN_WS_PUBLIC_CERT=
UNILOGIN_WS_UDBYDERSYSTEM_ID=
UNILOGIN_MUNICIPALITY_ID=XXX

# Cache revalidation
DRUPAL_REVALIDATE_SECRET=CeXF8E2Rd9wXZ2sswFHR

# Disable telemetry.
NEXT_TELEMETRY_DISABLED=1
STORYBOOK_DISABLE_TELEMETRY=true
