.material-description {
  max-width: $page-max-width;
  display: flex;
  flex-direction: column;
  gap: $s-lg;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $edge-spacing-mobile;
  width: 100%;

  @include media-query__small {
    padding: 0 $edge-spacing-desktop;
  }
}

.material-description__heading {
  @include typography($typo__h4);
  max-width: $article-max-width;
}

.material-description__content {
  @include typography($typo__body-large);
  line-height: 160%;
  max-width: $article-max-width;
}

.material-description__links {
  display: flex;
  flex-direction: column;
  gap: $s-md;
  max-width: $article-max-width;
}
