.material-description-group {
  padding-top: 38px;
  padding-bottom: 22px;

  @media (min-width: 1024px) {
    padding-top: 80px;
    padding-left: 215px;
    padding-bottom: 100px;
  }
}

.material-description {
  padding: 16px !important;
  padding-top: 22px;
  padding-bottom: 22px;
}
